@font-face{
    font-family:'AvenirNext';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight:300;
}

@font-face{
    font-family:'AvenirNext';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
    font-weight:700;
}