$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//primary colours
$pt-color:#323232;
$pcta-color:#0095FF;
$bg-color:#fff;
$st-color:#AFAFAF;

// secondary colours
$vid-color:#000000;
$cta-hover:#0065AD;
$div-out:#E1E1E1;
$ff-bg:#FAFAFA;


$mobile-page-header--size:24px;
$mobile-page-header--lineheight:32px;
$mobile-page-header--textweight:700;

$mobile-section-header--size:12px;
$mobile-section-header--lineheight:20px;
$mobile-section-header--textweight:700;

$mobile-sub-header--size:13px;
$mobile-sub-header--lineheight:18px;
$mobile-sub-header--textweight:700;

$mobile-bodycopy--size:13px;
$mobile-bodycopy--lineheight:18px;
$mobile-bodycopy--textweight:400;

$mobile-lnb--size:10px;
$mobile-lnb--lineheight:20px;
$mobile-lnb--textweight:700;

$desktop-page-header--size:33px;
$desktop-page-header--lineheight:44px;
$desktop-page-header--textweight:700;

$desktop-section-header--size:12px;
$desktop-section-header--lineheight:20px;
$desktop-section-header--textweight:700;

$desktop-sub-header--size:14px;
$desktop-sub-header--lineheight:22px;
$desktop-sub-header--textweight:700;

$desktop-bodycopy--size:14px;
$desktop-bodycopy--lineheight:22px;
$desktop-bodycopy--textweight:400;

$desktop-lnb--size:12px;
$desktop-lnb--lineheight:20px;
$desktop-lnb--textweight:700;

